<!--BRAND-->
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-end align-items-center pt-2 pr-4" id="contacto">
            <h3>CONTACTANOS</h3>
        </div>
    </div>
</div>
<!--MENSAJE IMAGEN-->
<div class="container-fluid">
    <div class="row">
        <div class="col flex-column d-flex justify-content-center align-items-center text-center text-white"
            id="contactanos-hero">
            <h2>CON GUSTO TE ATENDEREMOS</h2>
            <p>Puedes cotizar nuestros productos, servicios, componentes o repuestos usando nuestro formulario.<br> Si
                prefieres un contacto más directo o tienes alguna duda puedes llamarnos o enviarnos un correo.</p>
        </div>
    </div>
</div>
<!--FORMULARIO CONTACTO Y DATOS DE CONTACTO-->
<div class="container">
    <div class="row">
        <!--FORMULARIO-->
        <div class="col-6">
            <div class="text-center mt-4 mb-4">
                <h3>PONTE EN CONTACTO AHORA</h3>
                <p>En menos de <b>24 horas</b> te contactaremos.</p>
            </div>
            <form class="form-row">
                <div class="col-6 d-flex flex-column form-group">
                    <label>Nombre</label>
                    <input class="form-control">
                </div>
                <div class="col-6 d-flex flex-column form-group">
                    <label>Apellido</label>
                    <input class="form-control">
                </div>
                <div class="col-6 d-flex flex-column form-group">
                    <label>Télefono</label>
                    <input class="form-control">
                </div>
                <div class="col-6 d-flex flex-column form-group">
                    <label>Email</label>
                    <input class="form-control">
                </div>
                <div class="col-12 d-flex flex-column form-group">
                    <label>Mensaje</label>
                    <textarea class="form-control" rows="5"></textarea>
                    <button class="btn btn-primary btn-block mt-3">
                        <i class="fa fa-paper-plane" aria-hidden="true"></i> ENVIAR
                    </button>
                </div>
            </form>
        </div>
        <!--DATOS-->
        <div class="offset-2 col-4">
            <div class="text-center" id="arrow">
                <i class="fa fa-caret-down" aria-hidden="true"></i>
            </div>
            <div class="text-center" id="datos-contacto">
                <span>
                    <b>DATOS DE CONTACTO</b>
                </span>
                <ul>
                    <li>
                        <i class="fa fa-mobile" aria-hidden="true"></i> +569 3559 6730
                    </li>
                    <li>
                        <i class="fa fa-mobile" aria-hidden="true"></i> +569 3559 6730
                    </li>
                    <li>
                        <i class="fa fa-envelope" aria-hidden="true"></i> contacto@technosub.cl
                    </li>
                    <li>
                        <i class="fa fa-map-marker-alt" aria-hidden="true"></i> Dirección #123
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>