<!--BRAND-->
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-end align-items-center pt-2 pr-4" id="brand">
            <h3>COMPONENTES Y REPUESTOS</h3>
        </div>
    </div>
</div>

<!--CABECERA-->
<header class="d-flex justify-content-center align-items-center text-center" id="h-componentes">
    <h3><b>TECHNOSUB</b> suministra una amplia gama de componentes y repuestos<br> tanto para sistemas medicos
        hiperbaricos como de
        buceo industrial
    </h3>
</header>

<!--COMPONENTES Y REPUESTOS-->

<div class="container">
    <div class="row mt-5">
        <div class="col-4" *ngFor="let componente of componentes">
            <div class="card">
                <img src="{{ url + 'producto/imagen/' + componente.imagen }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{componente.nombre}}<br><small>COD: {{componente.codigo}}</small></h5>
                    <p class="card-text">{{componente.d_breve}}</p>
                    <div class="d-flex justify-content-center">
                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button [routerLink]="['/producto/', componente.id ]" type="button"
                                class="btn btn-primary">VER MÁS</button>
                            <button *ngIf="identity" [routerLink]="['/editar-producto', componente.id]" type="button"
                                class="btn btn-warning">
                                <i class="fas fa-edit"></i>
                            </button>
                            <button *ngIf="identity" type="button" class="btn btn-danger"
                                (click)="eliminarComponente(componente.id)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 text-center">
            <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
            </pagination-controls>
        </div>
    </div>

</div>