<!--CABECERA-->
<header class="d-flex justify-content-center align-items-center text-center" id="h-componentes">
    <h3>ENLACES Y SOCIOS DE TECHNOSUB
    </h3>
</header>

<!--ENLACES Y SOCIOS-->
<div class="container">
    <div class="row mt-5">
        <div class="col-3">
            <div class="card mb-4 text-center">
                <img src="assets/images/logo-technosub.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Más detalles</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 text-center">
                <img src="assets/images/logo-technosub.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Más detalles</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 text-center">
                <img src="assets/images/logo-technosub.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Más detalles</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 text-center">
                <img src="assets/images/logo-technosub.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Más detalles</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 text-center">
                <img src="assets/images/logo-technosub.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Más detalles</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 text-center">
                <img src="assets/images/logo-technosub.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Más detalles</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 text-center">
                <img src="assets/images/logo-technosub.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Más detalles</a>
                </div>
            </div>
        </div>
        <div class="col-3">
            <div class="card mb-4 text-center">
                <img src="assets/images/logo-technosub.png" class="card-img-top p-3" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                    <a href="#" class="btn btn-primary">Más detalles</a>
                </div>
            </div>
        </div>
    </div>
</div>