<!--BRAND-->
<div class="container-fluid">
    <div class="row">
        <div class="col d-flex justify-content-end align-items-center pt-2 pr-4" id="brand">
            <h3>ARRIENDO DE SISTEMAS PARA BUCEO INDUSTRIAL</h3>
        </div>
    </div>
</div>

<!--CABECERA-->
<header class="d-flex justify-content-center align-items-center text-center" id="h-componentes">
    <h3><b>TECHNOSUB</b> puede diseñar y fabricar sistemas hiperbaricos completos,<br>
        desde sistemas modulares transportables hasta sistemas integrados
    </h3>
</header>

<!--PRODUCTOS-->
<div class="container">
    <!--PRODUCTO-->
    <div class="row mt-5" *ngFor="let producto of productos | paginate: { itemsPerPage: 3, currentPage: p }">
        <div class="col-6 text-center">
            <img src="{{ url + 'producto/imagen/' + producto.imagen }}" class="img-fluid">
        </div>
        <div class="col-6" id="t-producto">
            <h2>{{producto.nombre}}</h2>
            <p>COD: {{producto.codigo}}</p>
            <p>{{producto.descripcion}}</p>
            <div class="d-flex justify-content-center">
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button [routerLink]="['/producto/', producto.id ]" type="button" class="btn btn-primary">VER
                        MÁS</button>
                    <button *ngIf="identity" [routerLink]="['/editar-producto', producto.id]" type="button"
                        class="btn btn-warning">
                        <i class="fas fa-edit"></i>
                    </button>
                    <button *ngIf="identity" type="button" class="btn btn-danger"
                        (click)="eliminarProducto(producto.id)">
                        <i class="fas fa-trash"></i>
                    </button>
                </div>
            </div>
        </div>

    </div>
    <div class="col-12 text-center">
        <pagination-controls (pageChange)="p = $event" previousLabel="Anterior" nextLabel="Siguiente">
        </pagination-controls>
    </div>
</div>