<footer class="mt-5 container-fluid">
    <div class="row">
        <div class="col-3 text-justify">
            <h5>Sobre Nosotros</h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga, eaque facilis. Architecto accusamus
                molestias assumenda minus eligendi quis repellat quia asperiores eius.</p>
        </div>
        <div class="col-3">
            <h5>Enlaces</h5>
            <ul class="enlaces">
                <li><a routerLink="/sistemas-hiperbaricos-medicos">Sistemas Hiperbaricos Medicos</a></li>
                <li><a routerLink="/sistemas-hiperbaricos-buceo">Sistemas para Buceo Industrial</a></li>
                <li><a routerLink="/componentes">Repuestos y Componentes</a></li>
                <li><a routerLink="/noticias">Noticias</a></li>
                <li><a routerLink="/socios">Socios</a></li>
                <li><a routerLink="/contacto">Contactanos</a></li>
            </ul>
        </div>
        <div class="col-2 text-center">
            <h5>Siguenos</h5>
            <ul class="redes-sociales">
                <li>
                    <a href="#"><img src="assets/images/svg/001-facebook.svg"></a>
                </li>
                <li>
                    <a href="#"><img src="assets/images/svg/003-gorjeo.svg"></a>
                </li>
                <li>
                    <a href="#"><img src="assets/images/svg/004-linkedin.svg"></a>
                </li>
            </ul>
            <div class="mt-3" class="p-0">
                <a routerLink="/login">
                    <i class="fas fa-sign-in-alt"></i> Acceso Usuario
                </a>
            </div>
        </div>
        <div class="offset-1 col-3">
            <h5>Contactanos</h5>
            <p class="mt-3"><i class="fa fa-phone" aria-hidden="true"></i> +569 5230 9959</p>
            <p><i class="fa fa-envelope" aria-hidden="true"></i> contacto@technosub.cl</p>
            <p><i class="fa fa-map-marker" aria-hidden="true"></i> Direccion #123</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mt-4 text-center">
            <hr>
            Technosub &copy; {{anio}}
        </div>
    </div>
</footer>